/*********************************************************************************************************

TEXT AREA

*********************************************************************************************************/
.text-area {
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-control-inner-background: #1F1F1F; /* background color of the text area */
    -fx-background-color: #1F1F1F; /* outline color of the text area */
    -fx-text-fill: #7cfc00; /* color of text in box */
}
.text-area:focused {
    /*-fx-faint-focus-color: transparent;*/
    -fx-faint-focus-color:#1F1F1F; /* here rgba (corrected) */
    -fx-highlight-fill: #3F3F3F;
}

/*********************************************************************************************************

TAB PANE

*********************************************************************************************************/
.tab-pane *.tab-header-background {
    -fx-background-color: #1F1F1F; /* color of area behind the tab */
}
.tab-pane *.tab {
    -fx-background-color: #1F1F1F;   /* background color of tab*/
    -fx-text-base-color: #7cfc00; /* tab name color */
}
.tab-pane *.tab:selected {
    -fx-background-color: #1A1A1A;
    -fx-border-color: #7cfc00; /*color of current tab indicator */
    -fx-border-width: 0 0 1 0;    /* top right bottom left*/
}
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: #7cfc00; /*color of 'selected' indicator */
    -fx-border-width: 1 1 0 1; /* top right bottom left*/
}
.tab-pane {
    -fx-background-color: #1F1F1F; /* color of pane when there are no tabs */
}

/*********************************************************************************************************

BUTTON

*********************************************************************************************************/
.button {
    -fx-background-color: #1A1A1A;
    -fx-text-base-color: #7cfc00;
}
.button:pressed {
    -fx-background-color: #1F1F1F, #1F1F1F, #1F1F1F #1F1F1F;
}

/*********************************************************************************************************

MENU

*********************************************************************************************************/
.menu-bar {
    -fx-background-color: #1A1A1A;
}
.menu {
    -fx-text-base-color: #7cfc00;
}
.menu:hover{
    -fx-background-color: #1F1F1F;
}
.menu:selected{
    -fx-background-color: #1F1F1F;
}
.menu:showing{
    -fx-background-color: #1F1F1F; /* color of the menu when you're sorting through the menu items */
    /*-fx-text-base-color: #3cfc00;*/
}
.menu-item {
    -fx-background-color: #1F1F1F;
}

.menu-item:hover{
    -fx-background-color: #FFFFFF;
}

.menu-item:focused{
    -fx-background-color: #7cfc0080; /* color of the menu item you're hovering over */
}
.context-menu{
    -fx-background-color: #1F1F1F; /* color of background of the actual dropdown menu*/
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
    }
.check-menu-item {
    -fx-mark-color: #5cfc00; /* color of the check mark */
}
.separator > .line {
    -fx-border-color: #7cfc00;
}

/*********************************************************************************************************

SPLIT PANE

*********************************************************************************************************/
.split-pane{
    -fx-background-color: #1F1F1F; /* background behind all the other objects in the split pane */
}
.split-pane:horizontal > .split-pane-divider {
    -fx-background-color: #1A1A1A; /* color of the divider */
}

/*********************************************************************************************************

PROGRESS BAR

*********************************************************************************************************/
.progress-bar{
    -fx-accent: #7cfc00;
}

/*********************************************************************************************************

COMBO BOX

*********************************************************************************************************/
.combo-box {
    -fx-background-color: #1F1F1F;
    -fx-control-inner-background: #1F1F1F;
    -fx-border-color: #7cfc00;
    -fx-border-width: 0 0 1 0;

}
.combo-box .arrow {
    -fx-background-color: #7cfc00;
}
.combo-box-base:editable > .arrow-button {
    -fx-background-color: #00000000, #181818, #282828, #282828;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}
.combo-box .text-field {
    -fx-prompt-text-fill: #FFFFFF7F;
    -fx-border-color: #1F1F1F;
    -fx-border-width: 2 2 2 2;
    -fx-background-color: -fx-text-box-border, -fx-control-inner-background;
}
.combo-box .text-field:focused{
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
            linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-color: -fx-text-box-border, -fx-control-inner-background;
}

/*********************************************************************************************************

ANCHOR PANE

*********************************************************************************************************/
#searchAnchor, #templateAnchor, #templateNoteAnchor, #folderPathAnchor, #dbxAnchor, #mainAnchor {
    -fx-background-color: #1F1F1F;
}

/*********************************************************************************************************

TEXT

*********************************************************************************************************/
#sg_1, #sg_2, #alertText, #txtPrompt, #nts1, #nts2, #ntns1, #folderPathText{ /* text ids in the search scene controller */
    -fx-fill: #7cfc00;
}

#previewTxt { /* the 'Preview' above the WebView */
    -fx-fill: #7cfc00;
}



/*********************************************************************************************************

TEXT FIELD

*********************************************************************************************************/
#txtKeyphrase, #txtName, #txtFldPath { /* all the text fields */
    -fx-background-color: #1F1F1F;
    -fx-control-inner-background: #1F1F1F;
    -fx-border-color: #7cfc00;
    -fx-border-width: 0 0 1 0;
}
#txtKeyphrase:focused .content {
    -fx-border-width: 0 0 3 0;
}
#txtName, #txtFldPath {
    -fx-prompt-text-fill: #FFFFFF7F;
}



/*********************************************************************************************************

LIST VIEW

*********************************************************************************************************/
.list-view {
    -fx-background-color: #1F1F1F;
}

.list-cell{
    -fx-text-fill: #7cfc00;
    -fx-background-color: #1F1F1F;
    /*-fx-border-color: #7cfc00;
    -fx-border-width: 0 0 0 1;*/

    -fx-background-color: #1F1F1F, #7cfc00;
    -fx-background-insets: 0 0 0 0, 7 390 7 2; /* top right bottom left */

    /* see https://stackoverflow.com/questions/42465850/fx-background-radius-and-fx-background-insets-in-javafx */
}
.list-cell:hover{
    -fx-background-color: #7cfc007F;
}
.list-cell:selected {
    -fx-background-color: #7cfc007F;
}